<div class='container'>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class='container'>
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> <%= post.title %> </h5>
        <p class="card-text"> <%= post.content %> </p>
        <%= link_to 'Show', post, :class => "button btn btn-info" %>
        <%= link_to 'Edit', edit_post_path(post), :class => "button btn btn-info" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <br>
</div>
<%= link_to 'New Post', new_post_path %>
</div>